@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="ClientApp/assets/main-server" asp-prerender-data="new { token = ViewBag.Token }"
>Loading...</div>

@section scripts {
    <script src="~/assets/main-client.js" asp-append-version="true"></script>
}
