.form-validation-error{
    color:red;
}

.logo-text{
    font-size: 20px;
    color: #e4e2e2;
    border-bottom: 1px solid #fff;
}

#blockui-page-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    z-index: 1000;
}

.m-page-loader {
    display: block;
}

.attributes-section .m-badge {
    margin-right: 5px;
    margin-bottom: 15px;
}